{% extends 'base_sections.html' %}
{% load static %}

{% block title %} Home Page {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/curved-images/curved.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">
          E-MEDIA PUBLIC MARKET
          </h1>
          <p class="lead text-white mt-3">Plateforme de gestion des marchés publics propre à E-media<br/> Joignez toutes ces entreprises qui y partagent leurs services</p>
        </div>
      </div>
    </div>

    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>


<section class="pt-3 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"><span id="state1" countTo="{{apls}}">0</span></h1>
              <h5 class="mt-3">Appels d'offre</h5>
              <p class="text-sm">Ont été lancés depuis le lancement de cette plateforme</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"> <span id="state2" countTo="{{entn}}">0</span></h1>
              <h5 class="mt-3">Entreprises</h5>
              <p class="text-sm">Ont choisi de nous faire confiance et de mettre en valeur leur potentiel</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary" id="state3" countTo="{{cnts}}">0</h1>
              <h5 class="mt-3">Contrats</h5>
              <p class="text-sm">Nous lient à jamais à ces entreprises avec lesquelles nous avons collaboré</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="row justify-content-center text-center my-sm-5">
        <div class="col-lg-6">
          <h2 class="text-dark mb-0">Une base de données</h2>
          <h2 class="text-primary text-gradient">Des possibilités infinies</h2>
          <p class="lead">Un aperçu de par où vous pouvez commencer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-sm-5 mt-3">

    {% if request.user.is_authenticated %}
      {% if request.user.Ent_numero.Ent_numero.Rgs_numero == "1613978901" %}
        {% if pjtn != 0 %}
        
        <div class="row">

          <div class="col-lg-3">
            <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
              <h3>Projets</h3>
              <h6 class="text-secondary font-weight-normal pe-3">Identifiez les besoins de l'entreprise</h6>
            </div>
          </div>
    
          {% for pj in pjt %}
            <div class="col-md-4 mt-md-0 mt-4">
              <a href="{% url 'project' %}?pjt={{pj.Pjt_numero}}">
                <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                  <div class="position-absolute top-0 end-0 p-2 z-index-1" style="background-color: palegoldenrod;">
                    Numéro : {{pj.Pjt_numero}} <br/>
                    Date limite : {{pj.Pjt_dateFin}} <br/>
                    Budget : {{pj.Pjt_budget}}
                  </div>
                  <img class="w-100 my-auto" src="{% static 'img/custom/public_market.jpg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">{{pj.Pjt_titre}}</h6>
                  <p class="text-secondary text-sm">{{pj.appel_count}} Appels d'offre</p>
                </div>
              </a>
            </div>
          {% endfor %}
    
        </div>
          
        <div style="padding: 4%;"></div>

        {% elif cntcn == 0 and pjtn == 0 and entsn == 0 %}
          {% if amicn == 0 and aplcn == 0 %}
          <div class="card shadow-lg move-on-hover min-height-160 min-height-160" style="height: 60%; width: 60%;">
            <img class="w-100 my-auto" src="{% static 'img/custom/data_not_found.png' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
          </div>
          {% endif %}
        {% endif %}

      {% endif %}
    {% endif %}

    {% if amicn != 0 %}
      <div class="row">

        <div class="col-lg-3">
          <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
            <h3>Appels à Manifestation d'Intérêt</h3>
            <h6 class="text-secondary font-weight-normal pe-3">Commencez par enregistrer votre entreprise</h6>
          </div>
        </div>

        {% for ami in amic %}
          <div class="col-md-4 mt-md-0 mt-4">
            <a href="{% url 'manifcall' %}?ami={{ami.Ami_numero}}">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <div class="position-absolute top-0 end-0 p-2 z-index-1" style="background-color: aliceblue;">
                  Numéro : {{ami.Ami_numero}} <br/>
                  Date limite : {{ami.Ami_dateFin}} <br/>
                  A contacter : {{ami.Ami_coordonnees}}
                </div>
                <img class="w-100 my-auto" src="{% static 'img/custom/public_market.jpg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">{{ami.Ami_titre}}</h6>
                <p class="text-secondary text-sm">{{ami.entreprise_count}} Réponses</p>
              </div>
            </a>
          </div>
        {% endfor %}

      </div>
      <div style="padding: 4%;"></div>
    {% endif %}

    {% if aplcn != 0 %}
      <div class="row">

        <div class="col-lg-3">
          <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
            <h3>Appels d'offre</h3>
            <h6 class="text-secondary font-weight-normal pe-3">Une sélection d'appels d'offre pertinents en cours</h6>
          </div>
        </div>

        {% for apl in aplc %}
          <div class="col-md-4 mt-md-0 mt-4">
            <a href="{% url 'offcall' %}?apl={{apl.Apl_numero}}">
              <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                <div class="position-absolute top-0 end-0 p-2 z-index-1" style="background-color: pink;">
                  Numéro : {{apl.Apl_numero}} <br/>
                  Date limite : {{apl.Apl_dateFin}} <br/>
                  A contacter : {{apl.Apl_coordonnees}}
                </div>
                <img class="w-100 my-auto" src="{% static 'img/custom/offer.jpg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
              </div>
              <div class="mt-2 ms-2">
                <h6 class="mb-0">{{apl.Apl_titre}}</h6>
                <p class="text-secondary text-sm">{{apl.offre_count}} Offres</p>
              </div>
            </a>
          </div>
        {% endfor %}
      
      </div>
    {% endif %}

    <div style="padding: 4%;"></div>

    {% if request.user.is_authenticated %}
      {% if request.user.Ent_numero.Ent_numero.Rgs_numero == "1613978901" %}
        {% if cntcn != 0 %}
      
        <div class="row">

          <div class="col-lg-3">
            <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
              <h3>Contrats</h3>
              <h6 class="text-secondary font-weight-normal pe-3">Une sélection des contrats en cours</h6>
            </div>
          </div>
    
          {% for cnt in cntc %}
            <div class="col-md-4 mt-md-0 mt-4">
              <a href="{% url 'contrat' %}?cnt={{cnt.Cnt_numero}}">
                <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                  <div class="position-absolute top-0 end-0 p-2 z-index-1" style="background-color: honeydew;">
                    Numéro : {{cnt.Cnt_numero}} <br/>
                    Prestataire : {{cnt.Ofr_numero.Ent_numero.Rgs_numero.Rgs_denomination}} <br/>
                    Date de fin : {{cnt.vrs.Vrs_dateFin}} <br>
                    Statut : {{cnt.Cnt_statut}}
                  </div>
                  <img class="w-100 my-auto" src="{% static 'img/custom/contract.jpg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">{{cnt.Cnt_type}}</h6>
                  <p class="text-secondary text-sm">{{cnt.etape_count}} Etapes</p>
                </div>
              </a>
            </div>
          {% endfor %}
    
        </div>

        <div style="padding: 4%;"></div>

        {% endif %}
      
        {% if entsn != 0 %}
        
        <div class="row">

          <div class="col-lg-3">
            <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
              <h3>Entreprises</h3>
              <h6 class="text-secondary font-weight-normal pe-3">Une sélection des entreprises actives du marché</h6>
            </div>
          </div>
    
          {% for ent in ents %}
            <div class="col-md-4 mt-md-0 mt-4">
              <a href="{% url 'entreprise' %}?ent={{ent.Ent_numero.Rgs_numero}}">
                <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                  <div class="position-absolute top-0 end-0 p-2 z-index-1" style="background-color: thistle;">
                    Numéro : {{ent.Ent_numero.Rgs_numero}} <br/>
                    Email : {{ent.manif.Mnf_email}} <br/>
                    Site Web : {{ent.manif.Mnf_siteWeb}}
                  </div>
                  <img class="w-100 my-auto" src="{% static 'img/custom/enterprise.png' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">{{ent.manif.Mnf_denomination}}</h6>
                  <p class="text-secondary text-sm">{{ent.contrat_count}} Contrats</p>
                </div>
              </a>
            </div>
          {% endfor %}
    
        </div>

        <div style="padding: 4%;"></div>

        {% endif %}

      {% else %}

        {% if ofrn != 0 %}
        <div class="row">

          <div class="col-lg-3">
            <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
              <h3>Offres</h3>
              <h6 class="text-secondary font-weight-normal pe-3">Une sélection des offres de l'entreprise</h6>
            </div>
          </div>
    
          {% for of in ofr %}
            <div class="col-md-4 mt-md-0 mt-4">
              <a href="{% url 'offcall' %}?ofr={{of.Ofr_numero}}">
                <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                  <div class="position-absolute top-0 end-0 p-2 z-index-1" style="background-color: lavender;">
                    Numéro : {{of.Ofr_numero}} <br/>
                    Date d'émission : {{of.Ofr_date}} <br/>
                    Montant : {{of.Ofr_montant}}
                  </div>
                  <img class="w-100 my-auto" src="{% static 'img/custom/offer.jpg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">{{of.Ofr_description}}</h6>
                  <p class="text-secondary text-sm">{{of.Ofr_evaluation}} %</p>
                </div>
              </a>
            </div>
          {% endfor %}
    
        </div>

        <div style="padding: 4%;"></div>

          {% if cntn != 0 %}
          <div class="row">

            <div class="col-lg-3">
              <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                <h3>Contrats</h3>
                <h6 class="text-secondary font-weight-normal pe-3">Une sélection des contrats de l'entreprise</h6>
              </div>
            </div>
      
            {% for cn in cnt %}
              <div class="col-md-4 mt-md-0 mt-4">
                <a href="{% url 'contrat' %}?cnt={{cn.Cnt_numero}}">
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <div class="position-absolute top-0 end-0 p-2 z-index-1" style="background-color: salmon;">
                      Numéro : {{cn.Cnt_numero}} <br/>
                      Date de début : {{cn.Cnt_dateDebut}} <br/>
                      Date de fin : {{cn.vrs.Vrs_dateFin}} <br>
                      Statut : {{cnt.Cnt_statut}}
                    </div>
                    <img class="w-100 my-auto" src="{% static 'img/custom/contract.png' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">{{cn.Cnt_type}}</h6>
                    <p class="text-secondary text-sm">{{cn.etape_count}} Etapes</p>
                  </div>
                </a>
              </div>
            {% endfor %}
      
          </div>
          {% endif %}

        {% else %}
          {% if amicn == 0 and aplcn == 0 %}
          <div class="card shadow-lg move-on-hover min-height-160 min-height-160" style="height: 60%; width: 60%;">
            <img class="w-100 my-auto" src="{% static 'img/custom/data_not_found.png' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
          </div>
          {% endif %}
        {% endif %}

      {% endif %}
    {% else %}    
      {% if amicn == 0 and aplcn == 0 %}
      <div class="card shadow-lg move-on-hover min-height-160 min-height-160" style="height: 60%; width: 60%;">
        <img class="w-100 my-auto" src="{% static 'img/custom/data_not_found.png' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
      </div>
      {% endif %}
    {% endif %}

  </div>
</section>


{% endblock content %}

{% block javascripts %}

<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>

{% endblock javascripts %}