{% extends 'base_sections.html' %}
{% load static %}

{% block title %} Project Page {% endblock title %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block content %}

<section>
  <div class="page-header min-vh-100">
    <div class="card-body">
      <form method="post" action="#" role="form" enctype="multipart/form-data">
        {% csrf_token %}
                  
        <div class="container">
          <div class="row">

            <div class="col-6 col-md-12 d-lg-flex d-flex d-none pe-0 top-0 end-0 flex-column mx-auto text-center">
              <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-color: aliceblue;">

                <div style="padding: 40px;"></div>
                <div class="card-header pb-0 text-left">
                  <h4 class="font-weight-bolder">Project</h4>
                  <p class="mb-0">Enter the details of the project and its steps</p>
                </div>
            
                {% for field in form %}
                <div class="mb-3">
                    {{ field }}
                </div>
                <span class="text-danger"> {{ field.errors }} </span>
                {% endfor %}
                
              <div style="padding: 40px;"></div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="text-center">
              <button type="submit" name="button" id="submit-all" class="btn btn-lg bg-gradient-primary btn-lg w-40 mt-4 mb-0">Save</button>
            </div>
            <div style="padding: 30px;"></div>

          </div>

        </div>
      </form>
    </div>
  </div>
</section>

{% endblock content %}

{% block footer %}

{% endblock footer %}