{% extends 'base_sections.html' %}
{% load static %}

{% block title %} Offers {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}


<section class="my-5 py-5">

  <div>
    <div style="text-align: center;">
      <h3>Offres</h3>
      {% if request.user.Ent_numero.Ent_numero.Rgs_numero != '1613978901' %}
        <h6 class="text-secondary font-weight-normal pe-3">{{ request.user.Ent_numero.Ent_numero.Rgs_denomination }}</h6>
      {% else %}
        <h6 class="text-secondary font-weight-normal pe-3">{{ apl.Apl_titre }}</h6>
      {% endif %}
    </div>
  </div>

  {% if ofrn != 0 %}
    {% if request.user.Ent_numero.Ent_numero.Rgs_numero != '1613978901' %}
      {% for of in ofr %}
        <div style="margin: 6%;">
          <a href="{% url 'offre' %}?apl={{apl.Apl_numero}}">
            <div style="margin: 4%;" class="card shadow-lg move-on-hover min-height-240 min-height-160">
              <div class="p-2 z-index-1" style="background-color: aliceblue;">
                <h3>
                    <div>
                        Numéro : {{of.Ofr_numero}}
                    </div>
                    <div>
                        Description : {{of.Ofr_description}}
                    </div>
                    <div>
                        Date de soumission : {{of.Ofr_date}}
                    </div>
                    <div>
                        Statut : {{of.Ofr_statut}}
                    </div>
                </h3>
              </div>
              <div>
                <div style="text-align: center;">
                  <h3 class="mb-0">{{of.Apl_numero.Apl_titre}}</h3>
                </div>
              </div>
            </div>
          </a>
        </div>

        {% if of.cnt is not None %}
        <div class="text-center">
          <button type="button" name="button" id="button" class="btn btn-lg btn-lg w-80" style="background-color: white;">
              <a href="{% url 'contrat' %}?ofr={{of.Ofr_numero}}">Contrat</a>
          </button>
        </div>
        {% endif %}
    
      {% endfor %}
    {% else %}-*
    
      {% for of in ofr %}
      <div style="margin: 6%;">
        <a href="{% url 'offre' %}?ent={{of.Ent_numero}}&apl={{of.Apl_numero}}">
          <div style="margin: 4%;" class="card shadow-lg move-on-hover min-height-240 min-height-160">
            <div class="p-2 z-index-1" style="background-color: aliceblue;">
              <h3>
                  <div>
                      Numéro : {{of.Ofr_numero}}
                  </div>
                  <div>
                      Description : {{of.Ofr_description}}
                  </div>
                  <div>
                      Spécifications : {{of.Ofr_specifications}}
                  </div>
                  <div>
                      Date de soumission : {{of.Ofr_date}}
                  </div>
                  <div>
                      Statut : {{of.Ofr_statut}}
                  </div>
              </h3>
            </div>
            <div>
              <div style="text-align: center;">
              <h3 class="mb-0">{{of.Ent_numero.Ent_numero.Rgs_denomination}}</h3>
              </div>
            </div>
          </div>
        </a>
      </div>

      {% if of.cnt is not None %}
      <div class="text-center">
        <button type="button" name="button" id="button" class="btn btn-lg btn-lg w-80" style="background-color: white;">
            <a href="{% url 'contrat' %}?ofr={{of.Ofr_numero}}">Contrat</a>
        </button>
      </div>
      {% endif %}
  
      {% endfor %}
    {% endif %}
  {% else %}
    <div class="card shadow-lg move-on-hover min-height-160 min-height-160" style="height: 60%; width: 60%;">
      <img class="w-100 my-auto" src="{% static 'img/custom/data_not_found.png' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Pro Element" alt="content sections">
    </div>
  {% endif %}

</section>

{% endblock content %}